@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<span class="fe_character-display @IsSelectedCssClass"
      @onclick="DispatchPlainTextEditorCharacterOnClickAction"
      title='@($"PreviousRowsColumnCount: {PreviousRowsColumnCount}; CurrentRowPreviousTokensColumnCount: {CurrentRowPreviousTokensColumnCount};")'>
    @((MarkupString) Character)
    
    @if (ShouldDisplayCursor)
    {
        <CursorDisplay/>
    }
</span>