<span class="fe_character-display @IsSelectedCssClass"
      @onclick="DispatchPlainTextEditorCharacterOnClickAction"
      @onclick:stopPropagation="true">
    @((MarkupString) Character)
    
    @if (ShouldDisplayCursor)
    {
        <CursorDisplay/>
    }
</span>