<span class="fe_plain-text-token-display fe_default-plain-text-token-display"
      title="default-token re-render count: @TokenRerenderCount; SequenceKeyRecord: @DefaultPlainTextToken.SequenceKeyRecord.Id">
    @{
        var toPlainText = DefaultPlainTextToken.PlainTextSpan;

        if (toPlainText.Length == 0)
        {
            <div>"toPlainText.Length == 0 error"</div>
        }
        
        for (var i = 0; i < toPlainText.Length; i++)
        {
            var characterIndex = i;
            var character = toPlainText[characterIndex];
            
            <CharacterDisplay Character="@character.ToString()"
                              ShouldDisplayCursor="@(ShouldDisplayCursor && characterIndex == DefaultPlainTextToken.IndexInPlainText)"
                              CharacterIndex="characterIndex" />
        }
    }
</span>