@using FluxorExperiments.ClassLibrary.Html
@using FluxorExperiments.ClassLibrary.PlainTextEditor
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="fe_plain-text-editor-display">
    <h3>PlainTextEditorDisplay</h3>
    
    @if (IsDebugEnvironment)
    {
        <PlainTextEditorDebugDisplay PlainTextEditorState="PlainTextEditorState.Value" />
    }

    @for (var i = 0; i < PlainTextEditorState.Value.PlainTextRowKeys.Length; i++)
    {
        var rowIndex = i;
        var plainTextRowKey = PlainTextEditorState.Value.PlainTextRowKeys[rowIndex];
        
        <CascadingValue Name="@nameof(PlainTextEditorLineNumberDisplay.LargestLineNumberString)" 
                        Value="@((PlainTextEditorState.Value.PlainTextRowKeys.Length + 1).ToString())">
            <CascadingValue Name="@nameof(PlainTextEditorLineNumberDisplay.LineNumber)" 
                            Value="rowIndex + 1">
                <PlainTextRowDisplay PlainTextRowKey="@plainTextRowKey"/>
            </CascadingValue>
        </CascadingValue>
    }
</div>