@if (_cachedPlainTextRow is not null)
{
    <div class="fe_plain-text-row-display">
        <PlainTextEditorLineNumberDisplay RowRerenderCount="_rerenderCount"/>

        @foreach (var plainTextTokenKey in _cachedPlainTextRow.PlainTextTokenKeys)
        {
            <PlainTextTokenDisplay PlainTextRow="_cachedPlainTextRow"
                                   PlainTextTokenKey="plainTextTokenKey"/>
        }
    </div>
}