@if (PlainTextRow is not null)
{
    <div class="fe_plain-text-row-display">
        <PlainTextEditorLineNumberDisplay RowRerenderCount="_rerenderCount"
                                          RowSequenceKey="PlainTextRow.SequenceKeyRecord" />
        
        @{
            var currentRowPreviousTokensColumnCount = 0;
            
            for (var i = 0; i < PlainTextRow.Count; i++)
            {
                var tokenIndex = i;
                var plainTextToken = PlainTextRow[tokenIndex];

                var localCurrentRowPreviousTokensColumnCount = currentRowPreviousTokensColumnCount;

                <CascadingValue Name="@nameof(CharacterDisplay.PlainTextTokenKeyIndex)" 
                                Value="tokenIndex">
                    <CascadingValue Name="@nameof(CharacterDisplay.CurrentRowPreviousTokensColumnCount)" 
                                    Value="localCurrentRowPreviousTokensColumnCount">
                        <PlainTextTokenDisplay PlainTextRow="@PlainTextRow"
                                               PlainTextToken="@plainTextToken"/>
                    </CascadingValue>
                </CascadingValue>
                
                currentRowPreviousTokensColumnCount += plainTextToken.ToPlainText.Length;
            }
        }
    </div>
}