@if (_cachedPlainTextRow is not null)
{
    <div class="fe_plain-text-row-display">
        <PlainTextEditorLineNumberDisplay RowRerenderCount="_rerenderCount"/>

        @for (var i = 0; i < _cachedPlainTextRow.PlainTextTokenKeys.Length; i++)
        {
            var tokenIndex = i;
            var plainTextTokenKey = _cachedPlainTextRow.PlainTextTokenKeys[tokenIndex];

            <CascadingValue Name="@nameof(CharacterDisplay.PlainTextTokenKeyIndex)" Value="tokenIndex">
                <PlainTextTokenDisplay PlainTextRow="@_cachedPlainTextRow"
                                       PlainTextTokenKey="@plainTextTokenKey"/>
            </CascadingValue>
        }
    </div>
}