<span class="fe_plain-text-token-display fe_start-of-row-plain-text-token-display"
      title="start-of-row-token re-render count: @TokenRerenderCount; SequenceKey: @StartOfRowPlainTextToken.SequenceKey.Id">
    @if (ShouldDisplayCursor)
    {
        <CursorDisplay />
    }
</span>