@using FluxorExperiments.ClassLibrary.Html
<span class="fe_plain-text-token-display fe_whitespace-plain-text-token-display"
      title="whitespace-token re-render count: @TokenRerenderCount; SequenceKeyRecord: @WhitespacePlainTextToken.SequenceKeyRecord.Id">
   <CharacterDisplay Character="@WhitespacePlainTextToken.PlainTextSpan.ToHtmlEscapedString()"
                     ShouldDisplayCursor="ShouldDisplayCursor" 
                     CharacterIndex="0" />
</span>