@using FluxorExperiments.ClassLibrary.Html
<span class="fe_plain-text-token-display fe_whitespace-plain-text-token-display"
      title="whitespace-token re-render count: @TokenRerenderCount">
   <CharacterDisplay Character="@WhitespacePlainTextToken.ToPlainText.EscapeHtml()"
                     ShouldDisplayCursor="ShouldDisplayCursor" />
</span>