@using Fluxor.Blazor.Web.Components

@inherits FluxorComponent

<span class="bs_focusable-boundary @(Class ?? string.Empty)"
      @onclick="FireFocusIn">
    <FocusTrapDisplay @ref="_focusTrapDisplay"
                      OnFocusTrapFocusIn="OnFocusTrapFocusIn"
                      OnFocusTrapFocusOut="OnFocusTrapFocusOut"/>

    @ChildContent
</span>