<span class="fe_start-of-row-plain-text-token-display"
      title="start-of-row-token re-render count: @TokenRerenderCount">
    @if (ShouldDisplayCursor)
    {
        <CharacterDisplay Character="@string.Empty"
                          ShouldDisplayCursor="ShouldDisplayCursor" />
    }
</span>