@using FluxorExperiments.Classes.Html

<span class="fe_whitespace-plain-text-token-display"
      title="TokenRerenderCount: @TokenRerenderCount">
   <CharacterDisplay Character="@WhitespacePlainTextToken.ToPlainText.EscapeHtml()"
                     ShouldDisplayCursor="ShouldDisplayCursor" />
</span>