@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

<ButtonDisplay OnClickEventCallback="StateHasChanged">
    Index.razor rendered:&nbsp;
    <RenderCounterHelperDisplay @ref="_renderCounterHelperDisplay"/>&nbsp;
    times.
</ButtonDisplay>

<hr />

<RenderCounterDisplay />

@code {
    private int _renderCounter;
    private RenderCounterHelperDisplay _renderCounterHelperDisplay = null!;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _renderCounter++;

        await _renderCounterHelperDisplay.UpdateUi(_renderCounter);
        
        await base.OnAfterRenderAsync(firstRender);
    }
}